@import './scss/index.scss';

table.colored.primary thead th{
  background: #373a3c !important;
  color: #ffffff;
}
.btn-novo{
  color: #ffffff;
  margin-bottom: 20px;
}

.container2{
  max-width: 823px;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
.containerVoltar{
  max-width: 823px;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  text-align-last: right;

}
